

section.timenotes-stack {
  border: 1px #523d5b solid;
  margin: 15% auto;
  width: 90%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
