// Timernotes colors
@time-passed-text: #768ba5;
@time-await-text: #626262;
@cycle-state-text: #414141;

@controls-primary-width: 115px;
@controls-secondary-width: 75px;
@controls-margins-sum: calc(@controls-primary-width + @controls-secondary-width);

@timer-state-info: 6%;

@icon-gray: #333;
@icon-light: #4b4b4b;
@progress-bar-inactive: #343434;
@progress-bar-blue: #60a2ed;

@implicit-tone: #232323;
@implicit-tone-hover-blue: #2b3240;

section.timernote {
  position: relative;

  width: 100%;
  min-height: 110px;
  /*max-width: 750px;*/
  margin: .65em 0;

  transition: all .1s ease-out;

  border-bottom: 1px #2e2e2e solid;
  border-radius: 5px;
  background: @dark-background;
}

//section.timernote:hover{
//  transform: scale(1.035);
//}

.controls-primary {
  position: absolute;

  width: @controls-primary-width;
  height: 100%;

  text-align: center;
  //border: 1px dashed fuchsia;
}

.timernote-body {
  position: absolute;
  left: @controls-primary-width;

  overflow: hidden;

  width: calc(100% - @controls-margins-sum);
  height: 100%;
  //background-color: #523d5b;
}

.controls-secondary {
  position: absolute;
  right: 0;

  width: @controls-secondary-width;
  height: 100%;

  //background-color: #2e2830;
}


.logotype-btn {
  //margin: 8% auto 0;
  position: relative;
  top: 10px;

  width: 4.4rem;
  height: 4.4rem;
  margin: 0 auto;

  transition: all .08s ease-in-out;

  border: 1px #282828 solid;
  //border: 1px #458554 dashed;
  border-radius: 50%;
  background-color: #1d1d1d;
}


.logotype-btn__icon {
  width: 60%;
  height: 60%;
  margin: 20% auto;

  fill: @icon-light;
}

//.logotype-btn:hover {
//  cursor: pointer;
//  transform: scale(1.15);
//}

.expand-controls {
  position: relative;
  top: 10px;

  width: 55%;
  height: 20%;
  //border: 1px #fdff87 dashed;
  margin: 2px auto 0;

  transition: all .15s ease;

  fill: @implicit-tone;
}

.expand-controls:hover {
  cursor: pointer;

  fill: @implicit-tone-hover-blue;
}

.timernote-title {
  width: calc(100% - @timer-state-info);
  margin: 10px 0 0 0;

  text-align: center;
  white-space: nowrap;

  color: @normal-title-light;

  font-size: 2rem;
  font-weight: 100;
}

.timer-state-info {
  position: absolute;
  right: 0;

  width: @timer-state-info;
  height: 100%;
  //background: chocolate;
}

.timer-state-info__cycle-state {
  position: absolute;
  top: 50%;
  left: 10%;

  margin: calc(-25% - 1px) 0 0 0;

  text-align: center;

  color: @cycle-state-text;

  font-size: 1em;
  //background: darkslateblue;
}


.controls-secondary .dragger {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 40px;
  height: 40px;
  margin: -27% 0 0 -27%;

  transition: all .15s ease;

  fill: @implicit-tone;
  //background-color: #3e2e36;
}

.controls-secondary .dragger:hover {
  cursor: pointer;

  fill: @implicit-tone-hover-blue;
}


.progress-bar-total {
  width: calc(100% - @timer-state-info);
  height: 6px;
  margin: 5px 0 0 0;

  border-radius: 5px;
  background-color: @progress-bar-inactive;
}

.progress-bar-total_active {
  width: 23%;
  height: 6px;

  transition: all .5s ease;

  border-radius: 5px;
  background-color: @progress-bar-blue;
}


.progress-bar-info {
  display: flex;

  width: calc(100% - @timer-state-info);
  margin: 8px 0 0 0;

  font-size: 1.05rem;
  font-weight: 300;

  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.progress-bar-info__time-passed {
  color: @time-passed-text;
}

.progress-bar-info__time-await {
  color: @time-await-text;
}
